* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.center-mobile {
    padding-left: 16px;
    padding-right: 16px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 800px;
    background-color: #e1ff8f;
    background-image: url(Images/top_stars_1.svg), url(Images/top_stars_2.svg), url(Images/top_stars_3.svg);
    background-position: calc(100% - 1242px) calc(100% - 640px), calc(100% - 353px) calc(100% - 149px), calc(100% + 479px) calc(100% - 22px);
    background-repeat: no-repeat;
    background-size: auto;

    &__title {
        padding-top: 196px;
        margin-bottom: 24px;
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__text {
        margin-bottom: 48px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__text>span {
        font-weight: 600;
    }

    &__text_mobile {
        display: none;
        margin-bottom: 48px;
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 36px;
    }

    &__text_mobile>span {
        font-weight: 600;
    }

    &__button-box {
        text-align: left;
    }

    &__button {
        display: inline-block;
        width: 247px;
        height: 66px;
        padding: 16px 28px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;

        &:hover {
            background-color: white;
            color: black;
            transition: background-color 0.5s, color 0.5s;
        }
    }

    &__button-mobile {
        display: none;
        width: 285px;
        height: 55px;
        padding: 16px 28px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.running-strip {
    display: inline-flex;
    align-items: center;
    gap: 51px;
    white-space: nowrap;
    padding-top: 27px;
    padding-bottom: 27px;
    animation: marquee 10s linear infinite;

    &__text {
        color: rgb(32, 32, 39);
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
    }

    &__container {
        background: rgb(188, 236, 48);
        overflow: hidden;
    }
}

.running-strip-mobile {
    display: flex;
    align-items: center;
    gap: 51px;
    white-space: nowrap;
    padding-top: 16px;
    padding-bottom: 16px;
    animation: marquee 10s linear infinite;

    &__text {
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
    }

    &__container {
        background: rgb(188, 236, 48);
        display: none;
    }
}

.games-discriptions {
    background-color: #202027;
    background-image: url(Images/gameDiscriptions_stars_1.svg), url(Images/gameDiscriptions_stars_2.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(100% - 1303px) calc(100% - 587px), calc(100% + 128px) calc(100% - 805px);

    &__title {
        padding-top: 94px;
        margin-bottom: 24px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__text {
        margin-bottom: 64px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__container {
        display: flex;
        gap: 32px;

        &_flexEnd {
            display: flex;
            align-items: flex-end;
            gap: 32px;
            padding-bottom: 50px;
        }
    }
}

.game-card {
    width: 378px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &__content {
        padding-left: 32px;
        padding-top: 32px;
        padding-right: 32px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__number-game {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: left;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.mini-games {
    background-color: #202027;
    background-image: url(Images/mini-games_stars_1.svg), url(Images/mini-games_stars_2.svg);
    background-position: calc(100% + -15px) calc(100% - 3278px), calc(100% - 15px) calc(100% - 67px);
    background-repeat: no-repeat;
    background-size: auto;

    &__title {
        padding-top: 46px;
        margin-bottom: 72px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 144px;
    }
}

.game-card-mini-games {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);

    &_honest {
        justify-content: normal;
    }

    &__info {
        padding: 48px;
    }

    &__title {
        margin-bottom: 24px;
        color: rgb(32, 32, 39);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__description {
        margin-bottom: 36px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__button {
        width: 247px;
        height: 66px;
        padding: 16px 28px 16px 28px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: black;
            transition: background-color 0.5s, color 0.5s;
        }
    }
}

.mini-games-mobile {
    display: none;
    background: rgb(32, 32, 39);
    padding-bottom: 48px;

    &__title {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        padding-top: 48px;
        margin-bottom: 48px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.game-card-mini-games-mobile {
    width: 343px;
    border-radius: 30px;
    box-shadow: 0px 11.44px 38.34px -6.87px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);

    &__info {
        padding: 30px 30px 32px 30px;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 16px;
    }

    &__description {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 32px;
    }

    &__button {
        width: 285px;
        height: 55px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        padding: 16px 28px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.footer {
    background: rgb(188, 236, 48);

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@import 'mobile'