* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.center-mobile {
  padding-left: 16px;
  padding-right: 16px;
}

.top {
  overflow: hidden;
  height: 800px;
  background-color: #e1ff8f;
  background-image: url(Images/top_stars_1.svg), url(Images/top_stars_2.svg), url(Images/top_stars_3.svg);
  background-position: calc(100% - 1242px) calc(100% - 640px), calc(100% - 353px) calc(100% - 149px), calc(100% + 479px) calc(100% - 22px);
  background-repeat: no-repeat;
  background-size: auto;
}
.top__title {
  padding-top: 196px;
  margin-bottom: 24px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.top__text {
  margin-bottom: 48px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.top__text > span {
  font-weight: 600;
}
.top__text_mobile {
  display: none;
  margin-bottom: 48px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 36px;
}
.top__text_mobile > span {
  font-weight: 600;
}
.top__button-box {
  text-align: left;
}
.top__button {
  display: inline-block;
  width: 247px;
  height: 66px;
  padding: 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}
.top__button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}
.top__button-mobile {
  display: none;
  width: 285px;
  height: 55px;
  padding: 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

.games-discriptions {
  background-color: #202027;
  background-image: url(Images/gameDiscriptions_stars_1.svg), url(Images/gameDiscriptions_stars_2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: calc(100% - 1303px) calc(100% - 587px), calc(100% + 128px) calc(100% - 805px);
}
.games-discriptions__title {
  padding-top: 94px;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.games-discriptions__text {
  margin-bottom: 64px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.games-discriptions__container {
  display: flex;
  gap: 32px;
}
.games-discriptions__container_flexEnd {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  padding-bottom: 50px;
}

.game-card {
  width: 378px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  transition: transform 0.3s ease;
}
.game-card:hover {
  transform: scale(1.1);
}
.game-card__content {
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.game-card__number-game {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.game-card__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.mini-games {
  background-color: #202027;
  background-image: url(Images/mini-games_stars_1.svg), url(Images/mini-games_stars_2.svg);
  background-position: calc(100% - 15px) calc(100% - 3278px), calc(100% - 15px) calc(100% - 67px);
  background-repeat: no-repeat;
  background-size: auto;
}
.mini-games__title {
  padding-top: 46px;
  margin-bottom: 72px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 144px;
}

.game-card-mini-games {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.game-card-mini-games_honest {
  justify-content: normal;
}
.game-card-mini-games__info {
  padding: 48px;
}
.game-card-mini-games__title {
  margin-bottom: 24px;
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.game-card-mini-games__description {
  margin-bottom: 36px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.game-card-mini-games__button {
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}
.game-card-mini-games__button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.mini-games-mobile {
  display: none;
  background: rgb(32, 32, 39);
  padding-bottom: 48px;
}
.mini-games-mobile__title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 48px;
  margin-bottom: 48px;
}
.mini-games-mobile__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.game-card-mini-games-mobile {
  width: 343px;
  border-radius: 30px;
  box-shadow: 0px 11.44px 38.34px -6.87px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.game-card-mini-games-mobile__info {
  padding: 30px 30px 32px 30px;
}
.game-card-mini-games-mobile__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}
.game-card-mini-games-mobile__description {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 32px;
}
.game-card-mini-games-mobile__button {
  width: 285px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

.footer {
  background: rgb(188, 236, 48);
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 376px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(Images/top_stars_mobile_1.svg), url(Images/top_stars_mobile_2.svg), url(Images/top_stars_mobile_3.svg);
    background-position: calc(100% - 252px) calc(100% - 566px), calc(100% - 48px) calc(100% - 88px), calc(100% + 91px) calc(100% - 549px);
  }
  .top__title {
    padding-top: 147px;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top__text {
    display: none;
  }
  .top__text_mobile {
    display: block;
  }
  .top__button-box {
    text-align: center;
  }
  .top__button {
    display: none;
  }
  .top__button-mobile {
    display: inline-block;
  }
  .games-discriptions {
    display: none;
  }
  .mini-games {
    display: none;
  }
  .mini-games-mobile {
    display: block;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */